div.dl-main-content{
    font-family: $font-family-primary;
    font-weight: $font-weight-regular;
    font-style: $font-style-normal;

    h1, h2, h3, h4, h5, h6 {
        font-family: $font-family-primary;
        font-weight: $font-weight-bold;
        font-style: $font-style-normal;
        color: $primary-color;
    }
    
    em {
        font-family: $font-family-primary;
        font-weight: $font-weight-regular;
        font-style: $font-style-italic;
    }

    select,
    input[type="text"]{
        display: inline-block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: 6px 12px 6px 28px;
        line-height: 1.5;
        color: #495057;
        vertical-align: middle;
        background-size: 8px 10px;
        border: 1px solid #ced4da;
        border-radius: 16px;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.1);
    }
}
    