div.dl-main-content{
    font-family: $font-family-primary;
    font-weight: $font-weight-regular;
    font-style: $font-style-normal;

    h1, h2, h3, h4, h5, h6 {
        font-family: $font-family-primary;
        font-weight: $font-weight-bold;
        font-style: $font-style-normal;
        color: $primary-color;
    }
    
    em {
        font-family: $font-family-primary;
        font-weight: $font-weight-regular;
        font-style: $font-style-italic;
    }

    select,
    input[type="text"],
    .select2-container--default .select2-selection--single{
        display: inline-block;
        width: 100%;
        line-height: 1.5;
        color: $dark-grey-color;
        vertical-align: middle;
        background-size: 8px 10px;
        border: 1px solid $grey-color;
        border-radius: 16px;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.1);
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: $dark-grey-color;
        i {
            color: $green-color;
        }
    }
}
.select2-dropdown {
    border: 1px solid $grey-color;
    border-radius: 16px;
}
.select2-container--default .select2-results > .select2-results__options {
    /* Custom scrollbar styles */
    &::-webkit-scrollbar {
        width: 12px; // Width of the scrollbar
    }

    &::-webkit-scrollbar-track {
        background: $light-grey-color; // Background of the scrollbar track
        border-radius: 16px; // Rounded corners for the track
    }

    &::-webkit-scrollbar-thumb {
        background-color: $grey-color; // Color of the scrollbar thumb
        border-radius: 16px; // Rounded corners for the thumb
        border: 3px solid $light-grey-color; // Border around the thumb
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: $grey-color; // Color of the scrollbar thumb on hover
    }
}
    